<h1>Editing blog</h1>

<%= render 'form' %>

<div class ="control-group pull-right">
  <%= link_to 'Show', @blog, :class => "btn btn-default"%>
  <%= link_to 'Back', blogs_path, :class => "btn btn-default" %>
</div>
